*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-800: #db4726; /* Orange Color */
    --primary-color-500: #db4726; /* Orange Color */
    --primary-color-300: #db4726; /* Orange Color */
    --primary-color-200: #db4726; /* Orange Color */

    --secondary-color-800 : #e6e6e6; /* White */
    --secondary-color-500 : #e6e6e6; /* White */
    --secondary-color-300 : #e6e6e6; /* White */
    --secondary-color-200 : #e6e6e6; /* White */

    --tertiary-color-800 : #212121; /* Black */
    --tertiary-color-500 : #333333; /* Black */
    --tertiary-color-300 : #333333; /* Black */
    --tertiary-color-200 : #858585; /* Black */
    --tertiary-color-100 : #eeeeee; /* Black */
}

/* CSS START */


html {
    box-sizing: border-box;
    font-size: 24px;
}





body {
    font-family: 'Source Sans Pro';
    background-color: var(--tertiary-color-100);
    color: var(--font-color-light);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    /* color: var(--dark-navy-blue); */
}

h1,h2 {
    color: var(--heading-color);
}
h3,h4,h5,h6{
    color: var(--subheading-color);
}
a {
    text-decoration: none;
    font-weight: 700;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: var(--deep-green);
}

span {
    font-weight: 300;
}
img {
    max-width: 100%;
    height: auto;
}

p {
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--font-color-light);
}

header{
    background-color: var(--soft-mint-green) ;

}
footer{
    background-color: var(--soft-mint-green) ;

}

.container {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 1rem 2rem;
    background-color: var(--light-sky-blue) ;
}

.center {
    text-align: center;
}

body.dark {
    background-color: var(--dark-navy-blue);
    
}
.dark .container{
    background-color: var(--forest-green);
    
}
.dark p{
    color: var(--font-color-dark);
}


